    <mat-toolbar color="primary" class="header mat-elevation-z4">
      <mat-toolbar-row>
        <span>
          <a mat-list-item routerLink="/">
            <i class="material-icons">
                roofing
            </i>
            
        </a>
        </span>
        <span>Encontre um Beginner da Faculdade IV2</span>
        <span class="spacer"></span>
      </mat-toolbar-row>
      <!--Divisão do Menu-->
      <mat-toolbar-row>
        
        <a  routerLink="/" class="text">
          <i class="material-icons" style="color: #fff">
              home
          </i>
          Início
      </a>
      <a routerLink="/students" class="text">
          <i class="material-icons" style="color: #fff">
              school
          </i>
          Alunos
      </a>
        <span class="spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon primary" aria-label="Example icon-button with heart icon" style="background:aqua">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon primary" aria-label="Example icon-button with share icon" style="background:aqua">
          <mat-icon>share</mat-icon>
        </button>

      </mat-toolbar-row>


      
    </mat-toolbar>