.spacer {
    flex: 1 1 auto;
}

.header {
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
}

.example-icon {
    margin: 0.2rem;
}

mat-toolbar-row span a i {
    color: #fff;
}

mat-toolbar-row span {
    font-size: small;
}

.text {
    color: #1d1c1c;
    padding: 1.1rem;
}

.text:hover {
    color: #303030;
}

.text i {
    margin-right: 1.1rem;
}