<div class="content">
    <mat-card>
        <mat-card-title class="title">
            Bem Vindo
        </mat-card-title>

        <mat-card-subtitle class="subtitle">
            Encontre um Dev :)
        </mat-card-subtitle>
    </mat-card>

    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>            
            <img src="/frontend/src/assets/img/undraw_Mobile_app_re_catg.svg" alt="">            
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile>
            <span class="img-logo"></span>
        </mat-grid-tile>
      </mat-grid-list>
    
</div>

