<div class="content">
    <mat-card>
        <mat-card-title class="title">
            Bem Vindo
        </mat-card-title>

        <mat-card-subtitle class="subtitle">
            Encontre um Dev :)
        </mat-card-subtitle>
    </mat-card>

    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
            <div class="buttons-container">
                <a class="cadastro">
                    <img src="./assets/img/cadastro.svg" alt="Cadastro">
                    Cadastro
                </a>
                <a class="consulta">
                    <img src="./assets/img/consulta.svg" alt="Consultas">
                    Consultas
                </a>
            </div>
            
        </mat-grid-tile>

        <mat-grid-tile>
            <figure>
                <img src="assets/img/undraw_Mobile_app_re_catg.svg" alt="">
            </figure>
        </mat-grid-tile>
      </mat-grid-list>
    
</div>

