.content .title {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}

.content .subtitle {
    font-style: 1.1rem;
}

.content {
    width: 80vw;
    height: 80vh;
}

mat-grid-tile img {
    background-repeat: no-repeat;
    width: 300px;
    background-size: cover;
}

mat-grid-tile > span {
    display: flex;
    width: 300px;
    background-color:red;
}

.img-logo {
    display: flex;
    align-items: center;
    background-image: url('/frontend/src/assets/img/undraw_Mobile_app_re_catg.svg');
    background-repeat: no-repeat;
    background-size: cover;
}