<div class="content">


    <mat-card>
        <mat-card-title>
            Aterar Aluno
        </mat-card-title>
        <form>
            <mat-form-field>
                <label for="name">Nome do Aluno</label>
                <input matInput [(ngModel)]="student.name" name="name">
            </mat-form-field>
            <mat-form-field>
                <label for="name">Idade do Aluno</label>
                <input matInput [(ngModel)]="student.age" name="age">
            </mat-form-field>
            <mat-form-field>
                <label for="name">Desenvolvedor (ex. Front-End)</label>
                <input matInput [(ngModel)]="student.developer" name="developer">
            </mat-form-field>
            <mat-form-field>
                <label for="name">Skills (ex. Html, CSS, JavaScript)</label>
                <input matInput [(ngModel)]="student.skills" name="skills">
            </mat-form-field> 
        </form>
        <div class="buttons-container">
            <button class="criarAluno" mat-raised-button (click)="updateStudent()" color="primary">
                Atualizar Aluno
            </button>
            
            <button class="cancelar" mat-raised-button (click)="cancel()" color="primary">
                Cancelar
            </button>
        </div>
    </mat-card>


</div>