<div class="content">

    <mat-card>
        <mat-card-title>
            Novo Aluno
        </mat-card-title>
        <form>
            <mat-form-field>
                <input matInput placeholder="Nome do Aluno" [(ngModel)]="student.name" name="name">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Idade" [(ngModel)]="student.age" name="age">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Desenvolvedor" [(ngModel)]="student.developer" name="developer">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Skills" [(ngModel)]="student.skills" name="skills">
            </mat-form-field>
 
        </form>
        <button mat-raised-button (click)="createStudent()" color="primary">
            Criar Aluno
        </button>
        
        <button mat-raised-button (click)="cancel()" color="primary">
            Cancelar
        </button>
    </mat-card>

</div>