* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --primary-color: #c2185b;
}

html, body { height: 100%; }
body {
    background: #bebebe;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.primary {
    color: var(--primary-color);
}

.aqua {
    color: aqua;
}

.material-icons {
    margin: 0.2rem;
}




