<div class="container">
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar>
        <img class="imgStudent" src="https://avatars.githubusercontent.com/u/60155617?s=460&u=e82fcd65a5728cdd0c58126d6cc1e198d05a8114&v=4" alt="">
      </div>
      <mat-card-title>Vagner Treguas</mat-card-title>
      <mat-card-subtitle>Frontend Developer</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LinkedIn</button>
      <button mat-button>GitHub</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar>
        <img class="imgStudent" src="https://avatars.githubusercontent.com/u/54808745?s=460&u=3d96d6f968919bff8ac05202700179f8f4740778&v=4" alt="">
      </div>
      <mat-card-title>Nemésio Florence</mat-card-title>
      <mat-card-subtitle>Frontend Developer</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LinkedIn</button>
      <button mat-button>GitHub</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar>
        <img class="imgStudent" src="https://media-exp1.licdn.com/dms/image/C5635AQF-CaQzCd-JSg/profile-framedphoto-shrink_800_800/0/1607602292122?e=1611972000&v=beta&t=eY3AkA9HB9G6vcdkJ4uhunY9zaYXte27P1FqcBYpwvE" alt="">
      </div>
      <mat-card-title>Gabriel Schincariol</mat-card-title>
      <mat-card-subtitle>Frontend Developer</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LinkedIn</button>
      <button mat-button>GitHub</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar>
        <img class="imgStudent" src="https://media-exp1.licdn.com/dms/image/C4E03AQGpkZ7-oFRaCA/profile-displayphoto-shrink_200_200/0/1607624456569?e=1617235200&v=beta&t=WNBw2Td5dDtymmtsnmxGKEm4nDgnXYNvi87JuixG-V0" alt="">
      </div>
      <mat-card-title>Guilherme Costa</mat-card-title>
      <mat-card-subtitle>Frontend Developer</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LinkedIn</button>
      <button mat-button>GitHub</button>
    </mat-card-actions>
  </mat-card>

</div>